<div class="container-fluid min-vh-30 d-flex align-items-center justify-content-center pt-2 pb-2">
  <div class="card infoCard shadow-lg border-0 rounded-5 p-4 w-100" style="max-width: 500px;">
    
    <div class="text-center mb-4">
      <h2 class="fw-bold text-primary">Edit Profile</h2>
      <p class="text-secondary">Update your personal information</p>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
      
      <div class="mb-4">
        <label class="text-secondary small mb-2">Full Name</label>
        <input type="text" formControlName="fullName" class="form-control bg-light text-dark border-secondary rounded-3 py-2">
      </div>

      <div class="mb-4">
        <label class="text-secondary small mb-2">Email Address</label>
        <input type="email" formControlName="email" class="form-control bg-light text-dark border-secondary rounded-3 py-2">
      </div>

      <div class="mb-4">
        <label class="text-secondary small mb-2">Phone Number</label>
        <input type="text" formControlName="phoneNumber" class="form-control bg-light text-dark border-secondary rounded-3 py-2">
      </div>

      <div class="d-grid gap-2 mt-4">
        <button type="submit"  [disabled]="profileForm.invalid" class="btn btn-outline-primary rounded-pill py-2 fw-bold">
          Save Changes
        </button>
        <button type="button" routerLink="/" class="btn btn-outline-secondary rounded-pill py-2">
          Cancel
        </button>
      </div>

    </form>
  </div>
</div>