.nav-link.active {
  font-weight: bolder;
  color: #010b17;
}

.vantage-logo {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem; 
  color: #333;   

}
.silver-crown {

  background: linear-gradient(135deg, #e0e0e0, #a0a0a0, #d1d1d1, #7a7a7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 1.5rem;
  margin-top: -10px;
  
 
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
  
 
  transform: rotate(15deg);
}

// تنسيق التنبيه غير المقروء
.unread-notification {
  background-color: rgba(13, 110, 253, 0.03) !important; 
  position: relative;
  

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    start: 8px; 
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: #0d6efd; 
    border-radius: 50%;
  }

  p {
    margin: 0;
  }
}


.text-truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* الحاوية الرئيسية للأيقونة */
.notification-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* حجم جرس الإشعارات */
.notification-bell {
  font-size: 1.5rem;
  color: #555; 
}


