.vantage-logo {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem; 
  color: #333;   

}
.silver-crown {

  background: linear-gradient(135deg, #e0e0e0, #a0a0a0, #d1d1d1, #7a7a7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 1.5rem;

  margin-top: -10px;
  transform: rotate(15deg);
  
 
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));

}