<footer class="text-center py-4 border-top">
    <div class="container">
        <p class="mb-1 text-muted">
            &copy; 2026 VANTAGE. ALL rights reseved.
        </p>
        <p class="text-muted small">
            Designed by <strong>Maryam Al Obaidi  </strong>
            <a href="mailto:vantagemaryam107@gmail.com" class="text-decoration-none email-link">
                <span class="icon-circle">
                  <i class="fa-solid fa-envelope"></i>
                </span>
              </a>

            <a href="http://wa.me/34612225076" target="_blank" class="text-decoration-none text-success">
             <span class="icon-circle-whatsapp fs-5"> <i class="fa-brands fa-whatsapp"></i>
             </span>
            </a>
        </p> 
    </div>
</footer>
